
html, body {
  height: 100%;
  margin: 0;
  background-color: #004e64;
  overflow: hidden;
}

.tooltip {
  display: none;
  position: fixed;
  padding: .5em 1em;
  background-color: #f1f1f1;
  z-index: 15;

  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}

.clickable-div
{
     cursor: pointer;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#LeftPane {
  width: 33%;
  height: 100%;
  position: fixed;
  background: #004564;
  box-shadow: 0px 0px 10px #000000;
  text-align: center;
  z-index: 12;
}

#Name h1 {
  font-size: 5vw;
  margin: 10px;
  display: inline-block;
}

#Info {
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  position: absolute;
  background-color: #7eb2dd;
  border-radius: 25px;
  padding: 10px;
  display: inline-block;
  max-height: 80%;
  overflow-y: auto;
}

#Info h1 {
  font-size: 200%;
  vertical-align: middle;
}

img {
  position: relative;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#Description {
  text-align: left;
  font-size: 100%;
  vertical-align: middle;
  padding: 10px;
}

#Graph {
    width: 67%;
    height: auto;
    position: absolute;
    right: 0;
}

.body {
  min-height: 100vh;
}

#Contact {
  position:absolute;
  top:0;
  right:0;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  display: table;
  background-color: #c5fffd;

  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

#Contact:hover {
  box-shadow: 0px 0px 30px #000000;
}

#Contact p {
  font-size: 120%;
  display: table-cell;
  vertical-align: middle;
}

#Square {
  width: 100vmin;
  height: 100vmin;
  float: right;
  color: black;
  position: relative;
  text-align: center;
}

.circle {
  position: absolute;
  width: 55%;
  height: 55%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.circle-title {
  font-size: 133%;
  position:absolute;
  color: black;
  left:50%;
  top:7%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.circle-title.hidden {
  display: none;
}

.circle > span {
  color: black;
}

/* Two items. */
.deg0 { transform: translate(-50%, -50%) translate(60%); }
.deg180 { transform: translate(-50%, -50%) translate(-60%); }

/* Three items accounting for title. */
.deg30.level2 { transform: translate(-50%, -30%) rotate(30deg) translate(66%) rotate(-30deg); }
.deg150.level2 { transform: translate(-50%, -30%) rotate(150deg) translate(66%) rotate(-150deg); }
.deg270.level2 { transform: translate(-50%, -30%) rotate(270deg) translate(66%) rotate(-270deg); }

/* Three items, no account for circle title. */
.deg30 { transform: translate(-50%, -50%) rotate(30deg) translate(66%) rotate(-30deg); }
.deg150 { transform: translate(-50%, -50%) rotate(150deg) translate(66%) rotate(-150deg); }
.deg270 { transform: translate(-50%, -50%) rotate(270deg) translate(66%) rotate(-270deg); }

/* Four items. */
.deg45 { transform: translate(-50%, -50%) rotate(45deg) translate(75%) rotate(-45deg); }
.deg135 { transform: translate(-50%, -50%) rotate(135deg) translate(75%) rotate(-135deg); }
.deg225 { transform: translate(-50%, -50%) rotate(225deg) translate(75%) rotate(-225deg); }
.deg315 { transform: translate(-50%, -50%) rotate(315deg) translate(75%) rotate(-315deg); }

.circle:hover {
  box-shadow: 0px 0px 30px #000000;
}

.level1 {
  background-color: #c5fffd;
}

.level2 {
  background-color: #7eb2dd;
}

.level3 {
  background-color: #36f1cd;
}

.level4 {
  background-color: red;
}

.circle.level2 {
  width: 35%;
  height: 35%;
}

.circle.level3 {
  width: 35%;
  height: 35%;
}

.circle.level4 {
  width: 35%;
  height: 35%;
}

.level1.zoom {
  top:22%;
  left:24%;
  box-shadow: 0px 0px 150px #000000;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.9);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.9);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.9);
  transition: all 200ms ease-in;
  transform: scale(1.9);
  z-index: 3;
}

.level2.zoom {
  top:34%;
  left:34%;
  box-shadow: 0px 0px 150px #000000;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(2.3);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(2.3);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(2.3);
  transition: all 200ms ease-in;
  transform: scale(2.3);
  z-index: 4;
}

.level3.zoom {
  top:34%;
  left:34%;
  box-shadow: 0px 0px 150px #000000;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.7);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.7);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.7);
  transition: all 200ms ease-in;
  transform: scale(1.7);
  z-index: 5;
}

.level4.zoom {
  top:34%;
  left:34%;
  box-shadow: 0px 0px 150px #000000;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.4);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.4);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.4);
  transition: all 200ms ease-in;
  transform: scale(1.4);
  z-index: 6;
}

#Contact.zoom {
  box-shadow: 0px 0px 150px #000000;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.7);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.7);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.7);
  transition: all 200ms ease-in;
  transform: scale(1.7) translate(-20%, 20%);
  z-index: 5;
}
