
html {
  background: url("Images/Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  margin: 0;
  overflow: hidden;
}

a {
  color: rgb(255,255,255)
}

.tooltip {
  display: none;
  position: fixed;
  padding: .5em 1em;
  z-index: 15;

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
}

.clickable-div
{
  cursor: pointer;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#InfoPane {
  width: 33%;
  height: 100%;
  position: fixed;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
  z-index: 12;
}

#InfoPane.mobile {
  width: 100%;
  height: 33%;
  top: 67%;
}

#Name h1 {
  font-size: 5vw;
  margin: 10px;
  display: inline-block;
}

#MobileName {
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
  text-align: center;
}

#MobileName h1 {
  font-size: 13vw;
  margin: 10px;
}

#Info {
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  padding: 10px;
  display: inline-block;
  max-height: 80%;
  overflow-y: auto;
  color: white;
}

#Info.mobile {
  width: 100%;
  max-height: 100%;
  height: 100%;
}

#Info h1 {
  font-size: 300%;
  vertical-align: middle;

}

#Info.mobile h1 {
  font-size: 350%;
  vertical-align: middle;
}

img {
  position: relative;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

#Description {
  text-align: left;
  font-size: 100%;
  vertical-align: middle;
  padding: 10px;
}

#Description.mobile {
  font-size: 250%;
}

#Graph {
    width: 67%;
    height: auto;
    position: absolute;
    right: 0;
}

#Graph.mobile {
    width: 100%;
    height: 66%;
    position: absolute;
    right: 0;
}

.body {
  min-height: 100vh;
}

#Contact {
  position:absolute;
  top:0;
  right:0;
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  display: table;
  background-color: rgba(245,245,245, .99);
  z-index: 2;

  /*Animation for after zoom.*/
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

#Contact.mobile {
  top:15%;
  right:4%;
  width: 150px;
  height: 150px;
}

#Contact.mobile p {
  font-size: 200%;
}

#Contact:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#Contact p {
  font-size: 120%;
  display: table-cell;
  vertical-align: middle;
}

#Square {
  width: 100vmin;
  float: right;
  color: black;
  position: relative;
  text-align: center;
}

#Square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#Square.mobile {
  transform: translateY(-20%);
}

.circle {
  position: absolute;
  width: 55%;
  height: 55%;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;

  /*Animation for after zoom.*/
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.circle-title {
  color: white;
  font-size: 133%;
  position:absolute;
  left:50%;
  top:7%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.circle-title.mobile {
  font-size: 200%;
  position:absolute;
  color: black;
  left:50%;
  top:7%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.circle > span {
  color: black;
}

/* Two items. */
.deg0 { transform: translate(-50%, -50%) translate(60%); }
.deg180 { transform: translate(-50%, -50%) translate(-60%); }

/* Two items vertical. Used for mobile.*/
.deg90.mobile { transform: translate(-50%, -50%) translateY(-55%); }
.deg270.mobile { transform: translate(-50%, -50%) translateY(55%); }

/* Mobile two items. */
.deg90 { transform: translate(-50%, -50%) translateY(-60%); }
.deg270 { transform: translate(-50%, -50%) translateY(60%); }

/* Three items accounting for title. */
.deg30.level2 { transform: translate(-50%, -30%) rotate(30deg) translate(66%) rotate(-30deg); }
.deg150.level2 { transform: translate(-50%, -30%) rotate(150deg) translate(66%) rotate(-150deg); }
.deg270.level2 { transform: translate(-50%, -30%) rotate(270deg) translate(66%) rotate(-270deg); }

/* Three items, no account for circle title. */
.deg30 { transform: translate(-50%, -50%) rotate(30deg) translate(66%) rotate(-30deg); }
.deg150 { transform: translate(-50%, -50%) rotate(150deg) translate(66%) rotate(-150deg); }
.deg270 { transform: translate(-50%, -50%) rotate(270deg) translate(66%) rotate(-270deg); }

/* Four items. */
.deg45 { transform: translate(-50%, -50%) rotate(45deg) translate(75%) rotate(-45deg); }
.deg135 { transform: translate(-50%, -50%) rotate(135deg) translate(75%) rotate(-135deg); }
.deg225 { transform: translate(-50%, -50%) rotate(225deg) translate(75%) rotate(-225deg); }
.deg315 { transform: translate(-50%, -50%) rotate(315deg) translate(75%) rotate(-315deg); }

.circle:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.level1 {
  background-color: rgba(64, 64, 64, 0.99);
}

.level2 {
  background-color: rgba(232,232,232, .99);
}

.level3 {
  background-color: rgba(64, 64, 64, 0.99);
}

.level4 {
  background-color: rgba(232,232,232, .99);
}

.circle.level1.mobile {
  width: 40%;
  height: 40%;
}

.circle.level2 {
  width: 35%;
  height: 35%;
}

.circle.level3 {
  width: 35%;
  height: 35%;
}

.circle.level4 {
  width: 35%;
  height: 35%;
}

.level1.zoom {
  top:22%;
  left:31%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.48);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.9);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.9);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.9);
  transition: all 200ms ease-in;
  transform: scale(1.9);
  z-index: 3;
}

.level1.mobile.zoom {
  top:30%;
  left:31%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.48);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(2.3);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(2.3);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(2.3);
  transition: all 200ms ease-in;
  transform: scale(2.3);
  z-index: 3;
}

.level2.zoom {
  top:34%;
  left:34%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.43);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(2.3);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(2.3);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(2.3);
  transition: all 200ms ease-in;
  transform: scale(2.3);
  z-index: 4;
}

.level3.zoom {
  top:34%;
  left:34%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.4), 0 10px 10px rgba(0,0,0,0.38);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.7);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.7);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.7);
  transition: all 200ms ease-in;
  transform: scale(1.7);
  z-index: 5;
}

.level4.zoom {
  top:34%;
  left:34%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.33);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.4);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.4);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.4);
  transition: all 200ms ease-in;
  transform: scale(1.4);
  z-index: 6;
}

#Contact.zoom {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.7);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.7);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.7);
  transition: all 200ms ease-in;
  transform: scale(1.7) translate(-20%, 20%);
  z-index: 5;
}
